@import url("intro.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font: normal 16px sans-sherif;
  font-family: 'Raleway', sans-serif;
  color: black;
}

ul, nav {
  list-style: none;
}

a{
  text-decoration: none;
  opacity: 0.8;
  color: black;
}

a:hover{
  opacity: 1;
  color: gold;
}

header{
  float: right;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  animation: 1s fade 0.5s forwards;
  opacity: 0;
  color: goldenrod;
}

@keyframes fade {
  100%{
    opacity: 1;
  }
}

header nav{
  display: flex;
  margin-right: -15px;
  
}

header nav li{
margin: 0 15px;
}

 .image {
  margin-right: 100px;
  opacity: 0.8;
}

.image:hover{
  opacity: 1;
}
